* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 800;
}

body, html {
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */

}
body::-webkit-scrollbar{
    display: none;
}

.general {
    background-image: url(../../Assets/hero_static.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.text{
    text-align: center;
    margin-top: 350px;
}
.text h3{
    font-size: 50px;
    color: rgb(255, 255, 255);
}
.text p{
    font-size: 20px;
    color: #fff;
    background-color: blue;
    border-radius: 100px;
    cursor: pointer;
    padding: 15px;
    margin-left: 570px;
    width: 200px;
    margin-top: 20px;
}
.text p:hover{
    background-color: #000;
}



.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 10px;
    top: 100px;
    border-radius: 80px;
    top: 50px; /* Moves it 50px down from the top */
    color: #fff;
    background-color: blue;
}
.left{
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.left p:hover, .middle p:hover, .right p:hover {
    position: relative;
    text-decoration: none; /* Remove default underline */
}

.left p:hover::after, .middle p:hover::after, .right p:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #ffcc00; /* Change to fit blue background */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.left p:hover::after, 
.middle p:hover::after, 
.right p:hover::after {
    transform: scaleX(1);
}

.right{
    display: flex;
    color: white;
    gap: 10px;
    cursor: pointer;

}
.middle{
    cursor: pointer;
    margin-right: 60px;
}
.right p{
    color: white;
}